* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffffff;
  background-size: 100%;
  color: #ffffff;
}
/*fonts*/
.font1 {
  font-family: "Playfair Display", serif;
  font-size: 5em;
  padding-bottom: 20px;
}
.font2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 1.5em;
}
/*header, title and img*/
.header {
  background-color: #8c6a58;
  border-radius: 0 0 20px 20px;
}
.logo {
  margin: 10px;
  float: left;
}
.title {
  padding: 20px;
}
/*nav config*/
.nav {
  background-color: #7a5c4d;
  border-radius: 16px;
  width: 40%;
  height: 50px;
  font-size: 50%;
  text-align: center;
  float: right;
  margin: 20px;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  
}
/*nav links*/
.headerlink {
  color: white;
  text-decoration: none;
  width: 70px;
  margin: 3%;
}
.headerlink:hover {
  background-color: #8c6a58;
}
.item-box {
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

.item {
  background-color: rgba(128, 128, 128, 0.275);
  border-radius: 20px;
  display: inline-block;
  height: 230px;
  width: 150px;
  margin: 20px auto;
  
}
.item-desc{
  margin: auto;
  font-size: 25px;
  height: 40px;
  width: 80%;
  text-align: center;
}
.item-desc p{
  height: 40px;
}
.item-img {
  background-color: rgba(128, 128, 128, 0.302);
  border-radius: 5px;
  width: 130px;
  height: 130px;
  margin: 0px 10px 10px 10px;
}
.item-button {
  height: 40px;
  width: 130px;
  margin: 10px 10px 5px 10px;
  border-radius: 10px;
  background-color: rgb(0, 225, 64);
  color: black;
  text-align: center;
}
.item-button:hover {
  background-color: rgba(0, 225, 64, 0.8);
}

.item-button p {
  padding: 8px;
  color: white;
  font-size: 20px;
}
.item-button a {
  text-decoration: none;
  color: white;
}

/*media querie 1*/
@media (max-width: 1024px) and (min-width: 860px) {
  .logo {
    position: absolute;
    margin: 5px;
    float: left;
  }
  .header {
    text-align: center;
  }
  .title {
    text-align: center;
    width: 80%;
    padding: 15px;
    display: inline-block;
  }
  .nav {
    width: 96%;
    float: none;
  }
}
/*media querie 2*/
@media (max-width: 860px) and (min-width: 600px) {
  .logo {
    display: none;
  }
  .item-box {
    text-align: center;
    padding-top: 40px;
    width: 100%;
  }
  .font1 {
    font-size: 3.5em;
  }
  .font2 {
    font-size: 0.6em;
  }
  .header {
    position: unset;
    text-align: unset;
    height: 60px;
  }
  .title {
    position: relative;
    text-align: center;
    width: 70%;
    left: 15%;
    right: 15%;
    display: inline-block;
  }

  .nav {
    position: fixed;

    top: 60px;
    width: 70%;

    right: 17%;
    left: 13%;
    height: 20px;
    padding-bottom: 30px;
  }
}
/*media querie 3 (mobile)*/
@media (max-width: 600px) {
  .font1 {
    font-size: 2em;
  }
  .font2 {
    font-size: 0.5em;
  }
  .nav {
    position: inherit;
    display: block;
    top: 88.1%;
    width: 68%;
    right: 15%;
    left: 12%;
    height: 9px;
    padding-bottom: 25px;
  }
  .logo {
    display: none;
  }

  .header {
    position: unset;
    height: 60px;
  }
  .title {
    position: fixed;
    text-align: center;
    width: 68%;
    left: 10%;
    right: 10%;
    display: block;
  }
  .item-box {
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }

  .item {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    display: inline-block;
    height: 200px;
    width: 150px;
    margin: 10px auto;
  }
  .item-img {
    background-color: gray;
    border-radius: 5px;
    width: 130px;
    height: 130px;
    margin: 10px;
  }
  .item-button {
    height: 40px;
    width: 130px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgb(0, 225, 64);
  }
  .item-button:hover {
    background-color: rgba(0, 225, 64, 0.8);
  }
}
